Source: ~#PKGNAME#~
Maintainer: Nicola Asuni <info@tecnick.com>
Section: php
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Rules-Requires-Root: no
Homepage: https://github.com/~#VENDOR#~/~#PROJECT#~
Vcs-Git: https://github.com/~#VENDOR#~/~#PROJECT#~.git
Vcs-Browser: https://github.com/~#VENDOR#~/~#PROJECT#~

Package: ~#PKGNAME#~
Provides: php-~#PROJECT#~
Architecture: all
Depends: php (>= 8.1.0), php-date,
 php-tecnickcom-tc-lib-barcode (<< 3.0.0),
 php-tecnickcom-tc-lib-barcode (>= 2.4.39),
 php-tecnickcom-tc-lib-color (<< 3.0.0),
 php-tecnickcom-tc-lib-color (>= 2.5.3),
 php-tecnickcom-tc-lib-file (<< 3.0.0),
 php-tecnickcom-tc-lib-file (>= 2.5.2),
 php-tecnickcom-tc-lib-pdf-encrypt (<< 3.0.0),
 php-tecnickcom-tc-lib-pdf-encrypt (>= 2.2.2),
 php-tecnickcom-tc-lib-pdf-font (<< 3.0.0),
 php-tecnickcom-tc-lib-pdf-font (>= 2.11.0),
 php-tecnickcom-tc-lib-pdf-graph (<< 3.0.0),
 php-tecnickcom-tc-lib-pdf-graph (>= 2.4.24),
 php-tecnickcom-tc-lib-pdf-image (<< 3.0.0),
 php-tecnickcom-tc-lib-pdf-image (>= 2.2.2),
 php-tecnickcom-tc-lib-pdf-page (<< 5.0.0),
 php-tecnickcom-tc-lib-pdf-page (>= 4.3.23),
 php-tecnickcom-tc-lib-unicode (<< 3.0.0),
 php-tecnickcom-tc-lib-unicode (>= 2.1.2),
 php-tecnickcom-tc-lib-unicode-data (<< 3.0.0),
 php-tecnickcom-tc-lib-unicode-data (>= 2.0.53),
 ${misc:Depends}
Description: PHP library for PDF document generation
 This package provides tc-lib-pdf, a modular PHP library to compose PDF
 documents with text, graphics, tables, metadata, and signatures.
