.phpdoc
.phpunit.cache
.phpunit.result.cache
.vscode
**/._*
**/.#*
**/.DS_Store
**/.idea
**/.vagrant
**/*.bak
**/*.tmp
**/auth.json
**/nbproject
**/temp.php
**/test.php
composer.lock
ecs.php
phpunit.xml
rector.php
target
vendor
