language: php

sudo: false

branches:
  except:
    - release

branches:
  only:
    - master
    - develop

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_install:
  - composer self-update
  - if [ -n "$GH_TOKEN" ]; then composer config github-oauth.github.com ${GH_TOKEN}; fi;
  - if [ -n "$GH_USER" ]; then git config --global github.user ${GH_USER}; fi;
  - if [ -n "$GH_TOKEN" ]; then git config --global github.token ${GH_TOKEN}; fi;

before_script:
  - composer install --no-interaction
  - if [ "$TRAVIS_PHP_VERSION" = "5.6" ]; then composer require satooshi/php-coveralls:dev-master --no-interaction; fi

script:
  - make qa_all
  - make report

after_success:
  - cat ./target/report/phploc.txt
  - cat ./target/report/phpcompatinfo.txt

after_failure:
  - cat ./target/logs/junit.xml
  - cat ./target/report/phpcpd.txt

after_script:
 - "echo 'coverage_clover: target/coverage/coverage.xml' >> .coveralls.yml"
 - "echo 'json_path: target/coverage/coveralls-upload.json' >> .coveralls.yml"
 - if [ "$TRAVIS_PHP_VERSION" = "5.6" ]; then php vendor/bin/coveralls -v; fi;
