<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	verbose="true">
	<testsuites>
		<testsuite name="tc-lib-pdf Test Suite">
			<directory>./test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix="php">src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="target/coverage"/>
		<log type="coverage-clover" target="target/coverage/coverage.xml"/>
		<log type="junit" target="target/logs/junit.xml"/>
	</logging>
</phpunit>
